<%= link_to "Back to #{@post.subbludit.name}", subbludit_path(@post.subbludit), class: "btn btn-default"%>
<div>
  <ul>
  </ul>
</div>
<h3>Post</h3>
<div class="panel panel-default">
  <div class="panel-heading">Title: <%= @post.title %>
    <div style="float: right;">
      <td><%=@post.get_upvotes.size%>
        <%= link_to like_message_path(@post), method: :put do %>
        <span style="color:lime">
          <i class="glyphicon glyphicon-chevron-up"></i>
        </span>
        <% end %>
      </td>
      <td><%=@post.get_downvotes.size%>
        <%= link_to dislike_message_path(@post), method: :put do %>
        <span style="color:red">
          <i class="glyphicon glyphicon-chevron-down"></i>
        </span>
        <% end %>
      </td>
    </div>
  </div>
  <div class="panel-body">Content: <%= @post.content %></div>
  <div class="panel-footer"><font color="blue"><%= @post.user.name ||= @post.user.email %></font> posted on <%= (@post.updated_at.in_time_zone('Eastern Time (US & Canada)')).strftime("%B %-d %Y - %I:%M%p EST")%>
    <% if @post.user == current_user %>&emsp;
      <%= link_to "Edit Post", edit_message_path(@post.id), class: "btn btn-default"%>&emsp;
      <%= link_to "Delete Post", message_path(@post.id), method: :delete, class: "btn btn-danger"%>
    <% end %>
  </div>
</div>
<div>
  <ul>
  </ul>
</div>
<h4>Comments</h4>
<%= link_to "Create a comment", new_message_comment_path(@post), class: "btn btn-default" %>
<div>
  <ul>
  </ul>
</div>
<% @post.comments.each do |comm|%>
  <div class="well well-lg"><p><font color="blue"><%= comm.user.name ||= comm.user.email %></font> wrote:
    <br>"<%=comm.content%>"</p>
    <p align="right"><%=(comm.updated_at.in_time_zone('Eastern Time (US & Canada)')).strftime("%B %-d %Y - %I:%M%p EST")%></p>
    <p align="center">
      <% if policy(comm).update? %>&emsp;
        <%= link_to "Edit", edit_comment_path(comm), class: "btn btn-default"%>&emsp;
      <% end %>
      <% if policy(comm).destroy? %>
        <%= link_to "Delete", comment_path(comm), method: :delete, class: "btn btn-danger"%>
      <% end %>
    </p>
  </div>
<% end %>
