<h2>Welcome <%= @user.name ||= @user.email %></h2>
<% if current_user.name == "JJ"%>
  <%= image_tag "jasonfuturama.JPG" %>
<% end %>
<div>
  <ul>
  </ul>
</div>

<p>What would you like to do?</p>

<div class="list-group">
  <%= link_to "Change your screen name", edit_user_path(current_user), class: "list-group-item"  %>
  <%= link_to "Change your password", edit_user_registration_path, class: "list-group-item"  %>
  <%= link_to "Change your user picture", "/users/picture", class: "list-group-item"  %>
</div>

<div>
  <ul>
  </ul>
</div>
<h4>Your Posts</h4>
<% @user.messages.each do |mes| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= mes.subbludit.name %>&emsp;---&emsp;<%= mes.title %></div>
    <div class="panel-body"><%= mes.content %></div>
    <div class="panel-footer"> on <%= (mes.updated_at.in_time_zone('Eastern Time (US & Canada)')).strftime("%B %-d %Y - %I:%M%p EST")%>&emsp;
      <%= link_to "Edit Post", edit_message_path(mes.id), class: "btn btn-default"%>&emsp;
      <%= link_to "Delete Post", message_path(mes.id), method: :delete, class: "btn btn-default"%>&emsp;
      <%= link_to "Go To Post", message_path(mes.id), class: "btn btn-default"%>
    </div>
  </div>
<% end %>
