<h2><font color="blue">Bludit</font> Mainpage</h2>

<%= link_to "Create New Subbludit", new_subbludit_path, class: "btn btn-default" %>

<h2>
  Current Sub<font color="blue">blu</font>dits
  <span class="badge"><%= @subs.count %></span>
</h2>

<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr>
      <th>Sub Name</th>
      <th>Posts</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @subs.each do |sub| %>
      <tr>
        <td><%= sub.name %></td>
        <td><%= sub.messages.count %></td>
        <td>
          <%= link_to "Go There", subbludit_path(sub), class: "btn btn-default btn-xs" %>
          <% if policy(:subbludit).update? %>
            <%= link_to 'Update', edit_subbludit_path(sub), class: "btn btn-default btn-xs" %>
          <% end %>
          <% if policy(:subbludit).destroy? %>
            <%= link_to 'Delete', subbludit_path(sub), method: :delete, class: "btn btn-default btn-xs" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
