<%= link_to "Back to Main", "/", class: "btn btn-default"%>

<h3><%= @sub.name %> Sub<font color="blue">blu</font>dit</h3>
<p>Moderators:  <% @sub.moderators.each do |mod| %>
                  <font color="blue"><%= mod.user.name %>&emsp;</font>
                <% end %>

<h4>
  Current Posts
  <span class="badge"><%= @sub.messages.count %></span>
</h4>
<div>
</div>

<%= link_to "Make a post in this subbludit", new_subbludit_message_path(@sub), class: "btn btn-default" %>

<div>
  <ul>
  </ul>
</div>
<h4>Posts</h4>

<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr>
      <th>Post Title</th>
      <th>Author</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sub.messages.each do |mes| %>
      <tr>
        <td><%= mes.title %> <span class="label label-default"><%= mes.comments.count %> comments</span>
          <% if mes.score > 0 %>
            <span class="label" style="background-color:lime"><%= mes.score %></span>
          <% end %>
          <% if mes.score < 0 %>
            <span class="label" style="background-color:red"><%= mes.score.abs %></span>
          <% end %>
        </td>
        <td><%= mes.user.name ||= mes.user.email %></td>
        <td>
          <%= link_to "Read", message_path(mes), class: "btn btn-default btn-xs" %>
          <% if policy(mes).update? %>&emsp;
            <%= link_to "Edit", edit_message_path(mes.id), class: "btn btn-default btn-xs"%>&emsp;
          <% end %>
          <% if policy(mes).destroy? %>&emsp;
            <%= link_to "Delete", message_path(mes.id), method: :delete, class: "btn btn-danger btn-xs"%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
